footer.footer
	.container
		.footer-wrap
			.footer-left
				span &copy; 2020, Название проекта
			.footer-right
				a.footer__mail(href="mail:mail@protomail.com") mail@protomail.com
				.footer__social
					a(href="javascript:void(0);")
						span
							i.icon-telegram
					a(href="javascript:void(0);")
						span
							i.icon-vk