include ../mixins/catalog-episode.pug
include ../mixins/serial-in-search.pug
- var resultSerials = [
-		{img: './images/hype-serials/1.png', name: 'Сотня', originalName: 'The 100, 2014–...'},
-		{img: './images/hype-serials/6.png', name: 'Агенты Щ. И. Т.', originalName: 'The 100, 2014–2020'}
- ];
- var resultEpisodes = [
-		{id: 9388, img: './images/serial-in-search/1.png', season: 12, episode: 24, rating: 7.6},
-		{id: 1846, img: './images/serial-in-search/2.png', season: 12, episode: 23, rating: 7.6},
-		{id: 2674, img: './images/serial-in-search/3.png', season: 12, episode: 22, rating: 7.6},
-		{id: 9365, img: './images/serial-in-search/4.png', season: 12, episode: 21, rating: 7.6},
-	];

.header-search-results.container
	.header-search-results__wrap(data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y")
		.header-search-results-serials
			each serial in resultSerials
				+serial-in-search(serial)
		hr
		.header-search-results-episodes
			each episode in resultEpisodes
				+catalog-episode(episode)
		a.btn.btn_yellow.header-search-results__btn-more.full-width(href="javascript:void(0);")
			span 
				| Показать все результаты
				i.icon-duble-chevron-down