header#header.header
	.container
		.header-wrap
			.header-left
				a.header-logo(href="/")
					span Logo
					//- img(src="" alt="Logo")

				include ../includes/navigation.pug

			form.header-search-field
				button.header-search__button-close(type="button")
					i.icon-close
				input(type="text")
				button.header-search__button-submit
					i.icon-search

			button.header__btn-filter(data-filter-modal)
				span Фильтр 
				i.icon-filter
include ../includes/header-search-results.pug

.header-search__backdrop

include ../includes/modals/modal-filter.pug