nav.header__nav
	ul
		li(aria-selected="false")
			a(href="javascript:void(0);" title="Хайповое") Хайповое
		li(aria-selected="false")
			a(href="javascript:void(0);" title="Новые серии") Новые серии
		li(aria-selected="true")
			a(href="javascript:void(0);" title="Новинки") Новинки