.serial-rating
	.serial-rating__stars
		i.icon-star.active
		i.icon-star.active
		i.icon-star.active
		i.icon-star.active
		i.icon-star
	.serial-rating__text 1568 голосов
	.serial-rating-vote
		button.serial-rating-vote__open-vote-bar
			i.icon-star
			span Оценить
		.serial-rating-vote__bar(aria-hidden="true")
			.serial-rating-vote__bar-stars
				a.icon-star(href="javascript:void(0);")
				a.icon-star(href="javascript:void(0);")
				a.icon-star(href="javascript:void(0);")
				a.icon-star(href="javascript:void(0);")
				a.icon-star(href="javascript:void(0);")
			button.serial-rating-vote__bar-close
				i.icon-close

