include ../mixins/catalog-episode.pug
- var episodes = [
-		{id: 8210, img: './images/serial-episodes/11.png', season: 1, episode: 1},
-		{id: 8240, img: './images/serial-episodes/12.png', season: 1, episode: 2},
-		{id: 8410, img: './images/serial-episodes/13.png', season: 1, episode: 3},
-		{id: 8214, img: './images/serial-episodes/14.png', season: 1, episode: 4},
-	];

.serial-episodes
	.serial-episodes-header
		.serial-episodes__seasons.swiper-container
			.swiper-wrapper
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 1
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 2
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 3
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 4
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
			button.swiper-button-next
				i.icon-chevron-right
		a.serial-episodes__sort(href="javascript:void(0);")
			i.icon-big-arrow-down
			i.icon-big-arrow-up

	.serial-episodes-list
		each episode in episodes
			+catalog-episode(episode)
	
	button.btn.btn_yellow.serial-episodes__btn-more.full-width
		span 
			| Посмотреть остальные серии
			i.icon-duble-chevron-down