include ../mixins/catalog-episode.pug
- var episodes = [
-		{id: 9471, img: './images/serial-episodes/37.png', season: 3, episode: 7, rating: 9.9},
-		{id: 9417, img: './images/serial-episodes/31.png', season: 3, episode: 1, rating: 8.9},
-		{id: 9177, img: './images/serial-episodes/74.png', season: 7, episode: 4, rating: 7.9},
-		{id: 1477, img: './images/serial-episodes/73.png', season: 7, episode: 3, rating: 6.9},
-	];

.serial-episodes
	.serial-episodes-header
		.serial-episodes__seasons.swiper-container
			.swiper-wrapper
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 1
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 2
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 3
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 4
				a.serial-episodes__season.swiper-slide(href="javascript:void(0);") 5
			button.swiper-button-next
				i.icon-chevron-right
		a.serial-episodes__sort(href="javascript:void(0);")
			i.icon-big-arrow-down
			i.icon-big-arrow-up

	.serial-episodes-list
		each episode in episodes
			+catalog-episode(episode)
	
	button.btn.btn_yellow.serial-episodes__btn-more.full-width
		span 
			| Посмотреть остальные серии
			i.icon-duble-chevron-down