include ../../mixins/modal.pug
include ../../mixins/select.pug

+modal('filter', 'Поиск нужного сериала')
	form.modal-search__form
		.col-2
			+select('genre', 'Жанр', ['Биография', 'Боевик', 'Вестерн', 'Военный', 'Детектив', 'Дорамы' , 'Драма'], 'Все', true)
			+select('status', 'Статус сериала', ['Выходит', 'Закрыт/Завершен'], 'Все', true)
		.col-2
			+select('country', 'Страна', ['Австралия', 'Австрия', 'Аргентина', 'Бельгия', 'Бразилия', 'Великобритания', 'Венгрия', 'Германия', 'Дания', 'Израиль', 'Индия'], 'Все', true)
			+select('tv', 'Телеканал', ['FX', 'Netflix', 'BBC'], 'Все', true)
		button.btn
			span Найти сериал
	button.link.modal-search__btn-clear Сбросить
	button.btn.btn_outline-gradient.full-width.modal-search__btn-random
		span Случайный сериал