.breadcrumbs {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	background: $dark-4;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq("md") {
			white-space: nowrap;
			overflow-x: auto;
		}

		li {
			position: relative;
			display: inline;

			span {
				font-size: 16px;
				color: $light-3;
				font-weight: 400;
			}

			a {
				font-size: 16px;
				color: $light-1;
				font-weight: 300;
				text-decoration: none;

				@include mq("md") {
					font-size: 14px;
				}
			}

			&:not(:last-child) {
				&::after {
					margin-left: 4px;
					content: "/";
					font-size: 15px;
					color: $light-3;
				}
			}
		}
	}
}