.btn {
	@include transition-active;
	@include flex-center;
	@include rounded;
	cursor: pointer;
	padding: 0;
	border: none;
	outline: none;
	user-select: none;
	position: relative;
	line-height: 1;
	height: 44px;
	font-size: 16px;
	text-decoration: none !important;
	background-image: $gradient;

	span {
		@include transition-active;
		@include rounded;
		@include flex-center;
		z-index: 1;
		width: 100%;
		height: 44px;
		padding: 12px 20px 10px 20px;
		color: $dark-1;
		background-color: transparent;
	}

	@include mq("md") {
		height: 48px;

		span {
			height: 48px;
		}
	}

	&:disabled, &.button_disabled {
		pointer-events: none;
		cursor: default;
		background: $dark-4 !important;
		
		span {
			background-color: transparent;
			color: $light-4;
		}
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		&, span {
			@include transition-hover;
		}

		&:hover {
			span {
				background-color: $pink;
			}
		}
	}

	&:active {
		span {
			background-color: $pink;
		}
	}

	// кнопки с границами градиентными
	&.btn_outline-gradient {
		height: 53px;

		span {
			@include rounded;
			@include flex-center;
			margin: 2px;
			height: 49px;
			font-size: 22px;
			text-transform: uppercase;
			background: $dark-4;
			letter-spacing: 0.8px;
			color: $yellow;
			font-variant: all-small-caps;
			padding: 12px 20px 12px 20px;

			@include mq("md") {
				padding-top: 12px;
			}

			i {
				margin-right: 13px;
			}
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover {
				span {
					background: transparent;
					color: $dark-1;
				}
			}
		}

		&:active {
			span {
				background: transparent;
				color: $dark-1;
			}
		}
	}

	&.btn_yellow {
		background: $yellow;

		span {
			background: transparent;
			padding: 13px 20px 9px 20px;
		}

		i {
			font-size: 9px;
			margin-left: 29px;
			position: relative;
			left: 21px;
			
			@include mq("md") {
				left: 0;
			}
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover {
				background: $pink;
			}
		}

		&:active {
			background: $pink;
		}
	}

	&.btn_outline_pink {
		background: transparent;
		border: 1px solid $pink;

		span {
			background: transparent;
			color: $yellow;
		}

		i {
			font-size: 14px;
			margin-right: 5px;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover {
				background: $pink;

				span {
					color: $dark-1;
				}
			}
		}

		&:active {
			background: $pink;

			span {
				color: $dark-1;
			}
		}
	}
}

.btn_icon {
	display: flex;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.full-width {
	width: 100%;
}

.link {
	@include transition-active;
	border: none;
	border-bottom: 1px solid rgba($color: $pink, $alpha: 0.5);
	background: none;
	display: inline-flex;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: $pink;
	font-size: 16px;
	line-height: 1;

	&:hover {
		border-bottom-color: transparent;
	}
}