.catalog-episode {
	position: relative;

	&__info {
		@include flex-center;
		@include transition-hover;
		position: absolute;
		width: 28px;
		height: 28px;
		top: 8px;
		left: 8px;
		border-radius: 4px;
		border: 2px solid $light-1;
		background: $dark-3;
		color: $light-5;
		font-size: 14px;
		box-shadow: 0px 4px 4px rgba(14, 21, 33, 0.6);
		z-index: 1;

		i {
			pointer-events: none;
		}

		&:hover {
			border-color: $pink;
		}

		&.info-popover_opened {
			&:hover {
				background: $pink;
				color: $dark-3;
			}
		}

		@include mq("md") {
			width: 20px;
			height: 20px;
			font-size: 10px;
		}
	}

	&__img {
		display: flex;
		@include img-container(62.5%);

		img {
			@include transition-hover;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover {
				img {
					top: -2.5%;
					left: -2.5%;
					width: 105%;
					height: 105%;
				}
			}
		}
	}

	&__name {
		display: inline-block;
		margin-top: 12px;
		text-decoration: none !important;

		@include mq("md") {
			margin-top: 6px;
		}
	}

	&__part {
		display: flex;
		margin-top: 9px;
		color: $light-4;

		span {
			color: inherit;
		}

		.catalog-episode__name + & {
			margin-top: 3px;
			color: $light-1;
		}

		& > span:first-of-type {
			margin-right: 4px;
		}

		@include mq("md") {
			margin-top: 6px;

			.catalog-episode__name + & {
				margin-top: 1px;
			}
		}
	}

	&__rating {
		margin-left: auto;
		color: $yellow;
		display: flex;
		align-items: center;

		i {
			font-size: 20px;
			margin-right: 4px;
		}

		span {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
		}

		@include mq("md") {
			i {
				font-size: 15px;
				margin-right: 1px;
			}
	
			span {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
}