.catalog {
	&-tabs {
		padding: 0;
		margin: 0 0 18px 0;
		list-style: none !important;
		display: flex;
		justify-content: center;

		&__item {
			&:not(:last-of-type) {
				margin-right: 30px;
			}

			a {
				@include transition-active;
				color: $light-4;
				font-size: 16px;
				display: inline-block;
				text-decoration: none !important;

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					@include transition-hover;

					&:hover {
						color: $yellow;
					}
				}
			}

			&[aria-selected="true"] {
				a {
					color: $yellow;
				}
			}
		}

		@include mq("md") {
			margin-bottom: 14px;

			&__item {
				&:not(:last-of-type) {
					margin-right: 26px;
				}

				a {
					font-size: 13px;
				}
			}
		}
	}

	&-section {
		&:not(:last-of-type) {
			margin-bottom: 55px;

			@include mq("md") {
				margin-bottom: 29px;
			}
		}

		&-nav {
			@include rounded(30px);
			margin-bottom: 24px;
			background: $dark-4;
			height: 32px;
			overflow: hidden;
			position: relative;
			padding: 0 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1;

			span {
				font-size: 16px;
				font-weight: 500;
				color: $light-4;
			}

			&__btn {
				@include rounded(50%);
				@include flex-center;
				@include transition-hover;
				font-size: 12px;
				color: $pink;
				height: 32px;
				width: 32px;
				border: none;
				background: transparent;
				position: absolute;
				top: 0;
				bottom: 0;
				outline: none !important;
				cursor: pointer;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
				border: 1px solid transparent;
				padding: 0;

				&:hover {
					background-color: rgba($color: $dark-1, $alpha: 0.7);
					border-color: $light-2;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}

				&.prev {
					left: 0;

					&::before {
						position: relative;
						left: -1px;
					}
				}

				&.next {
					right: 0;

					&::before {
						position: relative;
						right: -1px;
					}
				}
			}

			@include mq("md") {
				height: 24px;
				margin-bottom: 12px;

				span {
					font-size: 12px;
				}

				&__btn {
					height: 24px;
					width: 24px;
					font-size: 10px;
				}
			}
		}

		&-episodes {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 41px 22px;

			@include mq("lg") {
				grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
			}

			@include mq("md") {
				grid-gap: 33px 20px;
			}
		}

		&-serials {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 62px 22px;

			@include mq("md") {
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 28px 20px;
			}

			@include mq("sm") {
				grid-template-columns: repeat(3, 1fr);
			}

			@include mq("xs") {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

.catalog-serials {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 54px 22px;

	@include mq("md") {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 28px 20px;
	}

	@include mq("sm") {
		grid-template-columns: repeat(3, 1fr);
	}

	@include mq("xs") {
		grid-template-columns: repeat(2, 1fr);
	}
}