$arrow-size: 5px;

.dropdown {
	@include rounded;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);

	&:not(:last-of-type) {
		margin-bottom: $space;
	}

	&[aria-expanded="true"] {
		.dropdown__header {
			&::after {
				transform: rotate(180deg) translateY($arrow-size);
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		padding: 16px 56px 16px 16px;
		position: relative;
		color: #000;
		text-decoration: none !important;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;

		&::after {
			content: "";
			border: $arrow-size solid transparent;
			border-top-color: #666;
			position: absolute;
			top: 50%;
			margin-top: -($arrow-size / 2);
			right: 23px;
		}
	}

	&__content {
		@include transition-hover;
		transition-property: height;
		position: relative;
		height: 0;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-bottom: 1px solid #f0f0f0;
		}

		&-wrap {
			padding: 16px 12px 12px 12px;
		}
	}
}