.footer {
	display: flex;
	align-items: center;
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: $dark-3;

	@include mq("sm") {
		padding-top: 21px;
		padding-bottom: 28px;
	}

	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("sm") {
			flex-direction: column;
		}
	}

	&-left {
		color: #9CA5C9;
		font-size: 18px;
		font-weight: 500;
	}

	&-right {
		display: flex;
		align-items: center;

		@include mq("sm") {
			margin-top: 8px;
			flex-direction: column;
		}

		a {
			text-decoration: none !important;
		}

		.footer__mail {
			@include transition-active;
			font-weight: 400;
			font-size: 16px;
			color: $yellow;
			position: relative;
			top: 1px;

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				@include transition-hover;

				&:hover {
					color: $pink;
				}
			}

			&:active {
				color: $pink;
			}
		}

		.footer__social {
			margin-left: 56px;

			@include mq("sm") {
				margin-left: 0;
				margin-top: 26px;
			}

			a {
				display: inline-block;
				position: relative;
				padding: 1px;
				border-radius: 4px;
				box-shadow: 4px 4px 4px #131221, -4px -4px 4px #25223E;

				&:not(:last-of-type) {
					margin-right: 20px;
				}

				&::before {
					@include transition-active;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					content: "";
					opacity: .2;
					background-image: $gradient;
					border-radius: 4px;
				}

				span {
					@include transition-active;
					border-radius: 4px;
					position: relative;
					@include flex-center;
					width: 42px;
					height: 42px;
					background: $dark-3;
				}

				i {
					font-size: 24px;
					background-image: $gradient-diagonal;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					filter: drop-shadow($shadow);
				}

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					&::before, span {
						@include transition-hover;
					}
	
					&:hover {
						&::before {
							opacity: 1;
						}

						span {
							background: transparent;
						}

						i {
							background: transparent;
							-webkit-background-clip: inherit;
							-webkit-text-fill-color: inherit;
							color: $dark-1;
							filter: none;
						}
					}
				}
	
				&:active {
					color: $pink;
				}
			}
		}
	}
}