.header.search-opened ~ .header-search-results {
	display: flex;
}

.header-search-results {
	position: fixed;
	top: 68px;
	bottom: 0;
	left: 50%;
	display: none;
	align-items: flex-start;
	justify-content: flex-start;
	transform: translateX(-50%);
	z-index: 200;

	@include mq("lg") {
		top: 60px;
		z-index: 1062;
	}

	&__wrap {
		width: calc(100% + #{$container-padding*2});
		padding: 25px $container-padding 36px $container-padding;
		margin: 0 -#{$container-padding};
		background: $dark-4;
		border-radius: 0 0 8px 8px;
		max-height: 100%;
		overflow-y: auto;
		overflow-x: hidden;

		@include mq("lg") {
			padding: 25px $container-padding-mob 36px $container-padding-mob;
			margin: 0 -#{$container-padding-mob};
		}

		@include mq("sm") {
			height: 100%;
			padding-top: 13px;
			padding-bottom: 66px;
		}
	}

	&-serials {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-gap: 28px 22px;

		@include mq("sm") {
			grid-gap: 30px;
		}
	}

	hr {
		margin-top: 30px;
		margin-bottom: 24px;
		border-bottom-color: $dark-3;

		@include mq("sm") {
			margin-top: 17px;
			margin-bottom: 15px;
		}
	}

	&-episodes {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 28px 22px;

		@include mq("lg") {
			grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		}

		@include mq("md") {
			grid-gap: 17px;
		}
	}

	&__btn-more {
		margin-top: 30px;

		i {
			transform: rotate(-90deg);
			margin-left: 10px !important;
			margin-top: 1px;
			left: 0 !important;
		}

		@include mq("sm") {
			position: fixed;
			bottom: 8px;
			left: $container-padding-mob;
			right: $container-padding-mob;
			width: auto;
			margin-top: 0;
			z-index: 100;

			span {
				justify-content: space-between;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}