.header {
	padding-top: 14px;
	padding-bottom: 16px;
	background: $dark-3;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 500;

	&-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	&-left {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-logo {
		display: flex;
		@include transition-hover;
		margin-right: 75px;
		max-width: 196px;
		text-decoration: none !important;

		span {
			font-size: 32px;
			line-height: 38px;
			color: #8A92A8;
		}

		img {
			width: 100%;
		}
	}

	&__nav {
		@include transition-hover;
		transition-property: opacity;

		ul {
			display: flex;
			align-items: center;
			margin: 0 -21px;
			padding: 0;
			list-style: none;

			li {
				margin: 0 16px;
				position: relative;

				&[aria-selected="true"] {
					&::before {
						position: absolute;
						bottom: -18px;
						left: -13px;
						right: -13px;
						height: 4px;
						background-image: $gradient;
						border-radius: 2px 2px 0 0;
						content: "";
					}

					a {
						color: $light-5;
						font-weight: 500;
					}
				}

				a {
					@include transition-active;
					padding: 8px 5px 2px 5px;
					font-weight: 300;
					font-size: 20px;
					line-height: 22px;
					text-decoration: none !important;
					text-align: center;
					display: inline-block;
					font-variant: all-small-caps;
					color: $light-2;
					letter-spacing: 1.5px;

					&:before {
						display: block;
						content: attr(title);
						height: 0;
						overflow: hidden;
						visibility: hidden;
						font-size: 20px;
						font-weight: 500;
						font-variant: all-small-caps;
					}

					@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
						@include transition-hover;

						&:hover {
							color: $light-5;
							font-weight: 500;
						}
					}

					&:active {
						color: $light-5;
						font-weight: 500;
					}
				}
			}
		}
	}

	&-search-field {
		position: absolute;
		top: 50%;
		margin-top: -18px;
		right: 110px;
		width: calc(100% - 530px - 95px - 14px);
		transition: 0.35s ease-in-out;

		input {
			background: $dark-2;
			@include rounded;
			border: none;
			height: 36px;
			padding: 2px 36px 2px 15px;
			color: $light-7;
			outline: none !important;
			width: 100%;
		}

		button {
			@include flex-center;
			@include rounded(3px);
			outline: none !important;
			cursor: pointer;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 3px;
			background: $dark-3;
			border: none;
			padding: 0;
			font-size: 17px;
		}

		.header-search__button-submit {
			right: 3px;

			i {
				position: relative;
				left: 2px;
				background-image: $gradient-diagonal;
				filter: drop-shadow($shadow);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			&:hover {
				background: $pink;
				color: $dark-1;

				i {
					color: $dark-1;
					background-image: none;
					filter: none;
					-webkit-background-clip: inherit;
					-webkit-text-fill-color: inherit;
				}
			}
		}

		.header-search__button-close {
			left: 3px;
			color: $light-5;
			display: none;

			&::after {
				content: "";
				position: absolute;
				right: -5px;
				top: -3px;
				bottom: -3px;
				border-right: 2px solid $dark-3;
			}
		}
	}

	&__btn-filter {
		@include flex-center;
		@include transition-hover;
		transition-property: opacity;
		position: relative;
		top: 2px;
		outline: none !important;
		cursor: pointer;
		color: $light-4;
		background: transparent;
		border: none;
		font-size: 18px;
		padding: 0;

		i {
			display: inline-block;
			margin-left: 6px;
			background-image: $gradient-diagonal;
			filter: drop-shadow($shadow);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 24px;
		}

		&:hover {
			color: $pink;

			i {
				color: $pink;
				background: none;
				-webkit-background-clip: inherit;
				-webkit-text-fill-color: inherit;
			}
		}
	}

	&-search__backdrop {
		@include transition-hover;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($color: $dark-2, $alpha: 0.8);
		z-index: 150;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&.search-opened {
		.header__nav {
			opacity: 0;
			pointer-events: none;
		}

		.header-search-field {
			right: 0;
			width: calc(100% - 130px);

			.header-search__button-close {
				display: flex;
			}

			input {
				padding-left: 53px;
			}
		}

		.header__btn-filter {
			opacity: 0;
			pointer-events: none;
		}

		& ~ .header-search__backdrop {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	@include mq("lg") {
		padding-top: 12px;
		padding-bottom: 54px;

		&-left {
			position: relative;
		}
	
		&-logo {
			span {
				line-height: 34px;
			}
		}
	
		&__nav {
			position: absolute;
			background: $dark-4;
			width: 100vw;
			top: 48px;
			left: -#{$container-padding};
			padding: 0 $container-padding;
	
			ul {
				justify-content: space-around;

				li {
					&[aria-selected="true"] {
						&::before {
							left: -15px;
							right: -15px;
							bottom: 0;
						}
					}
	
					a {
						font-size: 14px;
						padding-top: 9px;
						padding-bottom: 9px;
					}
				}
			}
		}
	
		&-search-field {
			right: 40px;
			width: calc(100% - 144px - 40px);

			input {
				height: 34px;
			}

			button {
				top: 2px;
				font-size: 15px;
			}
		}
	
		&__btn-filter {
			span {
				display: none;
			}

			i {
				margin-left: 0;
			}
		}

		&.search-opened {
			.header__nav {
				opacity: 1;
				pointer-events: all;
			}

			.header-logo {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	@include mq("md") {
		z-index: 1061;

		&-logo {
			max-width: 75px;
			margin-right: 8px;
		}

		&-search-field {
			width: calc(100% - 76px - 40px);
		}

		&__nav {
			left: -#{$container-padding-mob};
			padding: 0 $container-padding-mob;

			ul {
				margin: 0;

				li {
					margin: 0;

					&[aria-selected="true"]::before {
						left: -9px;
						right: -9px;
					}
				}
			}
		}

		&__btn-filter.action-close {
			width: 24px;
			height: 24px;

			i {
				font-size: 17px;
				color: $light-4;
				-webkit-background-clip: unset;
				-webkit-text-fill-color: unset;
				background: transparent;

				&::before {
					content: $icon-close;
				}
			}
		}

		&.search-opened {
			.header-search-field {
				width: 100%;
			}
		}
	}
}