.modal {
	display: none;
}

.swal2 {
	&-container {
		padding: 0;

		.modal {
			display: block;
		}
	}

	&-title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding-left: 25px;
		padding-right: 25px;
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 30px;
		color: $light-4;

		strong {
			font-weight: inherit;
		}

		span {
			margin-top: 6px;
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
		}
	}

	&-popup {
		@include rounded(0);
		background-color: $dark-3;
		border: 1px solid rgba(124, 135, 165, 0.5);
		padding: 41px 87px;
		width: 100%;
		max-width: 700px;
	}

	&-container.swal2-backdrop-show {
		background: rgba($color: $dark-1, $alpha: 0.7)
	}
	
	&-content {
		font-size: inherit;
		line-height: inherit;
	}

	&-close {
		@include transition-hover;
		font-size: 18px;
		top: 24px;
		right: 22px;
		outline: none;
		color: $light-4;
		filter: drop-shadow($shadow);

		&:hover {
			color: $pink;
			opacity: 0.8;
		}
	}
}

.swal2-filter {
	.modal-search {
		&__form {
			button.btn {
				margin-left: auto;
				margin-right: auto;
				margin-top: 14px;
				width: 100%;
				max-width: 300px;
			}
		}
	
		&__btn-clear {
			margin-top: 21px;
		}
	
		&__btn-random {
			margin-top: 50px;
		}
	}

	@include mq("md") {
		align-items: flex-end !important;
	
		&.swal2-backdrop-show {
			background: transparent;
		}
	
		.swal2-popup {
			@include rounded(0);
			height: calc(100vh - 100px);
			margin: 0 auto !important;
			background: $dark-1;
			border: none;
			max-width: 100%;
		}

		.swal2-close {
			display: none !important;
		}

		.swal2-title {
			margin-bottom: 9px;
			padding: 0;
			font-size: 26px;
			width: 100%;
			text-align: left;
		}
	}

	@include mq("sm") {
		.col-2 {
			grid-template-columns: 1fr;
			grid-gap: 0;
		}

		.modal-search__form {
			button.btn {
				margin-top: 9px;
				max-width: 100%;
			}
		}

		.modal-search__btn-clear {
			margin-top: 14px;
		}

		.btn.btn_outline-gradient {
			margin-top: 25px;
		}
	}

	@include mq("xs") {
		.swal2-popup {
			padding: $container-padding-mob;
		}
	}
}

.swal2-trailer {
	.swal2-popup {
		padding: 0;
		border-radius: 0;
		max-width: 830px;
	}

	.swal2-content {
		text-align: left;
	}

	.swal2-close {
		@include rounded;
		width: 45px;
		height: 45px;
		top: 11px;
		right: 13px;
		background: rgba($color: $dark-4, $alpha: 0.8);
		color: $light-5;
	}

	.trailer {
		&-video {
			position: relative;
			padding-top: 55.5%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&-content {
			padding: 32px 40px 40px 40px;

			&-top {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 18px;
			}
		}

		&__serial-props {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: flex-start;

			li {
				position: relative;
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
				color: $light-5;

				&:not(:last-of-type) {
					margin-right: 22px;

					&::after {
						border: 2px solid $light-5;
						position: absolute;
						top: 50%;
						margin-top: -2px;
						right: -12px;
						border-radius: 2px;
						content: ""; 
					}
				}
			}
		}

		.btn {
			height: 48px;

			span {
				height: 48px;
			}
		}

		&__serial-name {
			font-size: 23px;
			color: $light-5;
			margin-top: 27px;
			margin-bottom: 1px;
		}

		&__serial-original-name {
			color: $light-2;
			font-size: 12px;
			line-height: 14px;
		}

		&__serial-description {
			margin-top: 8px;
			color: $light-4;
			font-size: 16px;
			line-height: 1.31;

			.show-more-wrap::after {
				background-image: linear-gradient(to top, $dark-3, rgba($color: $dark-3, $alpha: 0));
			}
		}
	}
}