$select-height: 40px;
$select-mobile-height: $select-height;

$select-bg-field: #151A29;
$select-bg-list: #1A1F2F;

$select-border-color-field: #6E2548;
$select-border-color-field-expanded: #6E2548;
$select-border-color-list: #6E2548;

$select-color-label: $light-5;
$select-color-label-selected: $light-2;

$select-colors-value: $light-5;

$select-color-list-value: $light-5;
$select-color-list-value-hover: $pink;
$select-color-list-value-selected: $pink;
$select-bg-list-value-selected: $dark-4;

.form-item {
	margin-bottom: 16px;
}

.select {
	display: inline-block;
	position: relative;
	cursor: pointer;
	min-width: 100px;
	width: 100%;
	user-select: none;

	select {
		position: absolute;
		height: $select-height;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 4;
		-webkit-appearance: none;
		appearance: none;
		opacity: 0;

		.desktop & {
			visibility: hidden;
		}

		@include mq("md") {
			height: $select-mobile-height;
		}
	}

	.select-field {
		@include rounded;
		@include transition-hover;
		transition-property: border-color;
		height: 40px;
		width: 100%;
		padding: 10px 35px 10px 15px;
		border: 1px solid $select-border-color-field;
		background-color: $select-bg-field;
		position: relative;
		z-index: 3;
	
		&__label {
			@include transition-active;
			font-weight: 400;
			font-size: 18px;
			line-height: 1;
			color: $select-color-label;
			text-align: left;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__value {
			transform: translateY(-6px);
			font-weight: 400;
			font-size: 14px;
			line-height: 1;
			text-align: left;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: $select-colors-value;
		}

		i {
			@include flex-center;
			font-size: 10px;
			pointer-events: none;
			position: absolute;
			color: $select-color-label;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);

			@include mq("md") {
				font-size: 13px;
			}
		}
	}

	.select-list {
		@include rounded;
		position: absolute;
		top: calc(100% - 12px);
		width: 100%;
		border: 1px solid $select-border-color-list;
		background-color: $select-bg-list;
		padding: 18px 18px 6px 8px;
		display: none;
		z-index: 2;

		.simplebar-track {
			right: -9px;
			background: $dark-1;
		}

		.simplebar-scrollbar:before {
			background: $dark-4;
		}

		.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
			top: 2px;
			bottom: 2px;
		}

		&-wrap {
			height: 100%;
			max-height: 176px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding: 6px 7px;
				font-size: 16px;
				font-weight: 300;
				text-align: left;
				margin: 0 !important;
				color: $select-color-list-value;

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					&:hover {
						border-radius: 2px;
						background: $select-bg-list-value-selected;
					}
				}

				&[aria-selected="true"] {
					color: $select-color-list-value-hover;
					font-weight: 400;
				}
			}
		}
	}

	&[aria-expanded="true"] {
		.select-field {
			z-index: 5;
			border-color: $select-border-color-field-expanded;

			i {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.select-list {
			display: block;
			z-index: 4;
		}
	}

	&[aria-selected="true"] {
		.select-field {
			&__label {
				transform: translateY(-8px);
				font-size: 13px;
				color: $select-color-label-selected;
			}

			@include mq("md") {
				&__label {
					transform: translateY(-4px);
					font-size: 12px;
				}

				&__value {
					transform: translateY(-3px);
					font-size: 12px;
				}
			}
		}
	}
}