.serial-rating {
	position: absolute;
	top: 0;
	right: 0;

	&__stars {
		display: flex;
		align-items: center;
		margin-left: -2px;
		margin-right: -2px;

		i {
			color: $light-1;
			font-size: 24px;
			padding: 2px;

			&.active {
				color: $yellow;
			}
		}
	}

	&__text {
		margin-top: 3px;
    margin-right: 2px;
		font-size: 12px;
		line-height: 14px;
		text-align: right;
	}

	&-vote {
		position: relative;
		margin-top: 11px;
		display: flex;
		justify-content: flex-end;

		&__open-vote-bar {
			@include transition-active;
			color: $pink;
			font-size: 16px;
			line-height: 19px;
			padding: 0;
			background: none;
			border: none;
			outline: none;
			cursor: pointer;
			margin-left: auto;

			i {
				font-size: 20px;
				margin-right: 6px;
			}

			span {
				border-bottom: 1px solid $pink;
			}

			&:hover {
				border-bottom-color: transparent;
			}
		}

		&__bar {
			z-index: 50;
			@include rounded;
			position: absolute;
			top: 0;
			right: 0;
			background: $dark-4;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 40px;
			width: 270px;
			padding: 5px 7px 5px 14px;

			&[aria-hidden="true"] {
				display: none;
			}

			&-stars {
				a {
					@include transition-active;
					text-decoration: none !important;
					display: inline-block;
					padding: 3px 8px;
					color: $light-1;
					font-size: 24px;

					&.hover {
						color: $yellow;
					}
				}
			}
		}

		&__bar-close {
			cursor: pointer;
			font-size: 17px;
			color: $light-5;
			padding: 7px;
			background: none;
			border: none;
			filter: drop-shadow($shadow);
			position: relative;
			margin-left: 8px;
			outline: none;

			&::before {
				content: "";
				border-left: 2px solid $dark-2;
				position: absolute;
				left: -7px;
				top: 0;
				bottom: 0;
			}
		}
	}

	@include mq("md") {
		position: relative;
		top: 0;
		right: 0;

		&__text {
			margin-top: 3px;
			text-align: left;
			font-size: 14px;
			line-height: 16px;
			font-weight: 300;
		}

		&-vote {
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 0;

			&__open-vote-bar i {
				font-size: 24px;
			}
		}
	}
}