.service-rating {
	display: flex;

	&__item {
		display: flex;
		align-items: center;

		&:not(:last-of-type) {
			margin-right: 20px;
		}

		i {
			display: inline-block;
			margin-right: 8px;
			font-size: 19px;
			color: $light-2;
		}

		span {
			color: $light-4;
			font-size: 16px;
			line-height: 19px;
			font-weight: 500;
			position: relative;
		}

		@include mq("sm") {
			&:not(:last-of-type) {
				margin-right: 15px;
			}
	
			i {
				margin-right: 4px;
				font-size: 14px;
			}
	
			span {
				font-size: 12px;
				line-height: 14px;
				font-weight: 500;
			}
		}
	}
}