.serial-in-search {
	display: grid;
	grid-template-columns: 116px 1fr;
	grid-gap: 17px;
	align-items: flex-start;

	&__img {
		@include img-container(146%);
		@include rounded;
		display: flex;
		box-shadow: 0px 5px 4px #090D15;
	}

	&-content {
		display: flex;
		flex-direction: column;
		height: 100%;

		&__header {
			margin-top: -3px;
		}

		&__body {
			flex-grow: 1;
			padding-top: 23px;
		}

		&__footer {
			margin-top: 14px;
			align-items: center;
			display: flex;

			.link {
				margin-left: 25px;
				font-size: 16px;
				font-weight: 500;
				border: none;
				text-decoration: none !important;

				i {
					@include transition-hover;
					margin-right: 7px;
					font-size: 18px;
					color: $light-2;
				}

				span {
					@include transition-hover;
					color: $light-4;
					border-bottom: 1px solid rgba($color: $light-4, $alpha: 0.5);
				}

				&:hover {
					i {
						color: $pink;
					}

					span {
						color: $pink;
						border-bottom-color: rgba($color: $pink, $alpha: 0.5);
					}
				}
			}
		}
	}

	&__name {
		text-decoration: none !important;
		display: flex;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: $light-5;

		h3 {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			margin: 0;
			color: inherit;
		}
	}

	&__original-name {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: $light-2;
	}

	&__props {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			font-size: 14px;
			line-height: 24px;
			color: $light-4;
		}
	}

	@include mq("sm") {
		grid-template-columns: 85px 1fr;
		grid-gap: 12px;

		&-content {
			&__body {
				padding-top: 15px;
			}
	
			&__footer {
				margin-top: 14px;
	
				.link {
					margin-left: 22px;
					font-size: 12px;
	
					i {
						margin-right: 6px;
						font-size: 14px;
					}
				}
			}
		}
	
		&__name {
			font-size: 16px;
			line-height: 19px;
		}
	
		&__original-name {
			margin-top: 0;
			font-size: 12px;
			line-height: 14px;
		}
	
		&__props {
			li {
				font-size: 12px;
				line-height: 14px;

				&:not(:last-of-type) {
					margin-bottom: 5px;
				}
			}
		}
	}
}