.show-more-wrap {
	transition: 0.5s ease-in-out;
	overflow-y: hidden;
	position: relative;
	padding-bottom: 10px;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 15px;
		content: "";
		background-image: linear-gradient(to top, $dark-1, rgba($dark-1, 0));
	}
}

.show-more__toggle {
	@include transition-active;
	font-size: 14px;
	line-height: 17px;
	color: $yellow;
	text-decoration: none !important;
	display: inline-block;
	margin-top: 7px;

	i {
		display: inline-block;
		position: relative;
		top: 1px;
		margin-left: 7px;
		font-size: 10px;
	}

	[aria-expanded="true"]+& {
		i {
			@include rotate(180deg);
		}
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		@include transition-hover;

		&:hover {
			opacity: 0.9;
		}
	}

	&:active {
		opacity: 0.9;
	}
}