@import '../../../node_modules/swiper/swiper';
@import '../../../node_modules/swiper/components/pagination/pagination';

.banner {
	padding-bottom: 13px;

	.swiper-slide {
		padding: 0 16px;
		width: 100%;

		img {
			border-radius: 12px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}