.tabs {
	&-list {
		display: grid;
		grid-gap: 0;
		grid-template-columns: 1fr;
		position: relative;
		overflow: hidden;
		border-bottom: 1px solid $dark-3;

		&.col_2 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.col_3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.col_4 {
			grid-template-columns: repeat(4, 1fr);
		}
		
		&__item {
			@include flex-center;
			@include transition-hover;
			position: relative;
			padding: 15px 15px 19px 15px;
			z-index: 1;
			font-size: 14px;
			font-weight: 300;
			color: $light-2;
			line-height: 22px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			text-decoration: none !important;

			span {
				position: relative;
				display: inline-block;
				pointer-events: none;
			}

			sup {
				font-size: 10px;
				top: -1.2em;
				margin-left: 3px;
			}

			&[aria-selected="true"] {
				font-weight: 500;
				color: $light-5;

				sup {
					color: $yellow;
				}
			}

			&:hover {
				color: $light-5;
				font-weight: 500;
			}

			@include mq("sm") {
				font-size: 11px;
				line-height: 17px;
				padding: 6px 15px 11px 15px;

				sup {
					top: -6px;
					position: absolute;
				}
			}
		}

		&__border {
			transition: left 0.35s linear;
			position: absolute;
			top: 0;
			left: 0;
			background-image: $gradient;
			height: 4px;
			border-radius: 2px 2px 0 0;
		}
	}

	.tabs-content {
		margin-top: 26px;

		[aria-hidden="true"] {
			display: none;
		}

		@include mq("sm") {
			margin-top: 15px;
		}
	}
}