.container {
	padding-left: $container-padding;
	padding-right: $container-padding;
	width: 100%;
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;

	@include mq("md") {
		padding-left: $container-padding-mob;
		padding-right: $container-padding-mob;
	}
}

.d-flex {
	display: flex;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-direction-row {
	flex-direction: row;
}

.justify-content-flex-start {
	justify-content: flex-start;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-evenly {
	justify-content: space-evenly;
}

.justify-content-space-around {
	justify-content: space-around;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.col-2 {
	display: grid;
	grid-gap: 22px;
	grid-template-columns: repeat(2, 1fr);
}