@font-face {
	font-family: 'icomoon';
	src: url('./../fonts/icomoon/icomoon.eot?n0dnjz');
	src: url('./../fonts/icomoon/icomoon.eot?n0dnjz#iefix') format('embedded-opentype'),
		url('./../fonts/icomoon/icomoon.ttf?n0dnjz') format('truetype'),
		url('./../fonts/icomoon/icomoon.woff?n0dnjz') format('woff'),
		url('./../fonts/icomoon/icomoon.svg?n0dnjz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close {
	&:before {
		content: $icon-close; 
	}
}

.icon-info {
	&:before {
		content: $icon-info; 
	}
}

.icon-kinopoisk {
	&:before {
		content: $icon-kinopoisk;
	}
}

.icon-imdb {
	&:before {
		content: $icon-imdb;
	}
}

.icon-big-arrow-down {
	&:before {
		content: $icon-big-arrow-down;
	}
}

.icon-big-arrow-up {
	&:before {
		content: $icon-big-arrow-up;
	}
}

.icon-chevron-down {
	&:before {
		content: $icon-chevron-down;
	}
}

.icon-chevron-left {
	&:before {
		content: $icon-chevron-left;
	}
}

.icon-chevron-right {
	&:before {
		content: $icon-chevron-right; 
	}
}

.icon-duble-chevron-down {
	&:before {
		content: $icon-duble-chevron-down;
	}
}

.icon-filter {
	&:before {
		content: $icon-filter;
	}
}

.icon-play {
	&:before {
		content: $icon-play;
	}
}

.icon-refresh {
	&:before {
		content: $icon-refresh;
	}
}

.icon-search {
	&:before {
		content: $icon-search;
	}
}

.icon-small-arrow-down {
	&:before {
		content: $icon-small-arrow-down;
	}
}

.icon-small-arrow-up {
	&:before {
		content: $icon-small-arrow-up;
	}
}

.icon-star {
	&:before {
		content: $icon-star;
	}
}

.icon-telegram {
	&:before {
		content: $icon-telegram;
	}
}

.icon-vk {
	&:before {
		content: $icon-vk;
	}
}