@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

html {
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.3;
	font-family: $fira-sans;
	background: $dark-1;

	@include mq("md") {
		font-size: 16px;
	}
}

body {
	font-family: $fira-sans;
	color: $light-7;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.411;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;
	background: $dark-1;

	@include mq("md") {
		font-size: 16px;
	}
}

a {
	font-weight: 400;
	color: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $fira-sans;
	margin: 0;
	font-weight: 500;
	line-height: 1;
	color: $light-4;
}

h1, .h1 {
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 8px;
	letter-spacing: 0.02em;

	@include mq("md") {
		font-size: 26px;
	}
}

h2, .h2 {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 8px;

	@include mq("md") {
		font-size: 23px;
	}
}

h3, .h3 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 8px;

	@include mq("md") {
		font-size: 22px;
	}
}

.caption-1 {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
	color: $light-4;

	@include mq("md") {
		font-size: 13px;
	}
}

.caption-2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.1875;
	color: $light-1;

	@include mq("md") {
		font-size: 12px;
	}
}

.caption-3 {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.1875;
	color: $light-1;

	@include mq("md") {
		font-size: 12px;
	}
}

.text-1 {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.22;
	color: $light-6;
}

.text-2 {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.22;
	color: $light-2;
	font-variant: all-small-caps;

	@include mq("md") {
		font-size: 14px;
	}
}

.text-3 {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	color: $light-2;
	font-variant: all-small-caps;

	@include mq("md") {
		font-size: 14px;
	}
}

.text-4 {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.1875;
	color: $light-6;
}

.text-5 {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	color: $light-6;

	@include mq("md") {
		font-size: 12px;
	}
}

p {
	margin: 0;
	color: $light-2;
	line-height: 1.45;

	&:not(:last-of-type) {
		margin: 0 0 16px 0;
	}

	@include mq("md") {
		line-height: 1.25;
	}
}

small, .small {
	font-size: 80%;
}

.uppercase {
	text-transform: uppercase;
}

.bold, .strong,
b, strong {
	font-weight: 700;
}

.text-center {
	text-align: center !important;
}

hr {
	margin-top: 35px;
	margin-bottom: 32px;
	border: none;
	width: 100%;
	border-bottom: 1px solid $dark-4;

	@include mq("md") {
		margin-top: 17px;
		margin-bottom: 16px;
	}
}