// Colors
$dark-1 : #0E1321;
$dark-2 : #181D2C;
$dark-3 : #212636;
$dark-4 : #2D3243;
$light-1 : #7C87A5;
$light-2 : #8A92A8;
$light-3 : #ADBBDC;
$light-4 : #B6C0D9;
$light-5 : #D7E0F2;
$light-6 : #C5CBDE;
$light-7 : #ABB2C7;

$shadow: 0 5px 2px #090D15;

$yellow: #FFC500;
$pink: #FF3F83;

$gradient: linear-gradient(to right, #FFE201, #FF5087);
$gradient-diagonal: linear-gradient(135deg, #FFE300, #FF5087);

$space: 16px;
$container-width: 1024px;
$container-padding: 30px;
$container-padding-mob: 9px;

// Fonts
$fira-sans	: 'Fira Sans', sans-serif;

// Icon
$icon-close: "\e912";
$icon-info: "\e911";
$icon-kinopoisk: "\e900";
$icon-imdb: "\e901";
$icon-big-arrow-down: "\e902";
$icon-big-arrow-up: "\e903";
$icon-chevron-down: "\e904";
$icon-chevron-left: "\e905";
$icon-chevron-right: "\e910";
$icon-duble-chevron-down: "\e906";
$icon-filter: "\e907";
$icon-play: "\e908";
$icon-refresh: "\e909";
$icon-search: "\e90a";
$icon-small-arrow-down: "\e90b";
$icon-small-arrow-up: "\e90c";
$icon-star: "\e90d";
$icon-telegram: "\e90e";
$icon-vk: "\e90f";