.filter-page {
	@include mq("lg") {
		margin-top: 15px !important;
	}

	.page-title {
		text-align: left;
		margin-bottom: 17px;
	}

	.filter-tabs {
		@include rounded(25px);
		display: flex;
		padding: 9px 35px 13px 35px;
		background: $dark-3;
		margin-bottom: 28px;

		&__item {
			text-decoration: none !important;
			font-size: 16px;
			line-height: 19px;
			color: $light-2;
			border-bottom: 1px dashed $light-2;

			&:not(:last-of-type) {
				margin-right: 38px;
			}

			&.active {
				color: $yellow;
				border-bottom-color: $yellow;

				&::after {
					content: $icon-small-arrow-down;
					font-family: 'icomoon';
					font-size: 10px;
					margin-left: 5px;
				}

				&.desc {
					&::after {
						content: $icon-small-arrow-up;
					}
				}
			}

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	@include mq("md") {
		.page-title {
			margin-bottom: 9px;
		}

		.filter-tabs {
			@include rounded(0);
			padding: 7px 25px 8px 25px;
			margin: 0 -#{$container-padding-mob};
	
			&__item {
				font-size: 12px;
				line-height: 14px;
	
				&:not(:last-of-type) {
					margin-right: 35px;
				}
	
				&.active {	
					&::after {
						font-size: 7px;
						margin-left: 4px;
					}
				}
			}
		}

		.serial-catalog {
			margin-top: 18px;
		}
	}
}

.serial-catalog {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 48px 22px;

	@include mq("md") {
		grid-gap: 30px;
	}

	@include mq("sm") {
		grid-template-columns: 1fr;
	}
}