.new-serials-page {
	.page-title {
		margin-bottom: 21px;
	}

	.catalog-section:not(:last-of-type) {
		margin-bottom: 66px;
	}

	@include mq("lg") {
		.page-title {
			display: none;
		}

		.catalog {
			margin-top: 7px;

			&-section:not(:last-of-type) {
				margin-bottom: 38px;
			}
		}
	}
}