.search-page {
	.page-title {
		text-align: left;
		margin-bottom: 25px;
	}

	.search-form {
		@include rounded(4px);
		margin-bottom: 26px;
		background: $dark-4;
		padding: 4px;

		&__field {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__btn-clear {
			@include transition-active;
			display: flex;
			font-size: 18px;
			cursor: pointer;
			padding: 9px;
			color: $light-5;
			filter: drop-shadow($shadow);
			position: relative;
			margin-right: 3px;

			&::after {
				position: absolute;
				top: 1px;
				bottom: 1px;
				right: -3px;
				content: "";
				border-right: 1px solid $dark-1;
			}

			&:hover {
				color: $pink;
			}
		}

		&__input {
			flex-grow: 1;
			outline: none !important;
			background: none;
			border: none;
			color: $light-5;
			font-weight: 300;
			padding: 0 15px;
			height: 36px;
		}

		&__btn-submit {
			@include rounded(3px);
			@include flex-center;
			cursor: pointer;
			color: $yellow;
			font-size: 16px;
			margin-left: 15px;
			padding: 7px 43px;
			background: $dark-3;

			i {
				background-image: $gradient-diagonal;
				filter: drop-shadow($shadow);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-right: 11px;
				display: flex;
				font-size: 18px;
			}

			&:hover {
				background: $pink;
				color: $dark-1;

				i {
					color: $dark-1;
					background-image: none;
					filter: none;
					-webkit-background-clip: inherit;
					-webkit-text-fill-color: inherit;
				}
			}
		}
	}

	
	@include mq("sm") {
		.page-title {
			margin-top: 3px;
			margin-bottom: 10px;
		}

		.search-form {
			padding: 2px;
	
			&__btn-clear {
				font-size: 11px;
				padding: 7px;
				margin-right: 1px;
	
				&::after {
					top: 2px;
					bottom: 2px;
					right: -1px;
				}
			}
	
			&__input {
				height: 26px;
				font-size: 12px;
			}
	
			&__btn-submit {
				font-size: 0;
				padding: 4px 4px 4px 8px;
	
				i {
					margin-right: 0;
				}
			}
		}
	}

	.catalog-episodes {
		&-list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 54px 22px;

			@include mq("lg") {
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 31px 20px;
			}

			@include mq("sm") {
				grid-template-columns: repeat(3, 1fr);
			}

			@include mq("xs") {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		.btn {
			margin-top: 32px;

			i {
				left: 0;
			}

			@include mq("xs") {
				margin-top: 23px;
				background: transparent;
				border: 1px solid $pink;

				span {
					background: transparent;
					color: $yellow;
					justify-content: space-between;
				}

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					&:hover {
						background: $pink;

						span {
							color: $dark-1;
						}
					}
				}

				&:active {
					background: $pink;

					span {
						color: $dark-1;
					}
				}
			}
		}
	}
}