.serial-page {
	padding-bottom: 0 !important;

	.comments {
		margin-top: 54px;
		display: flex;

		& > img {
			width: 100%;
		}
	}

	@include mq("md") {
		.page-title {
			margin-top: -2px;
			margin-bottom: 8px;
			letter-spacing: 0.18px;
		}

		.comments {
			margin-left: -#{$container-padding-mob};
			margin-right: -#{$container-padding-mob};
		}
	}
}

.serial-nav {
	margin-bottom: 18px;
	@include flex-center;

	&__item {
		a {
			@include transition-active;
			text-decoration: none !important;
			text-transform: lowercase;
			font-size: 16px;
			line-height: 19px;
			color: $light-4;
			font-weight: 400;

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				@include transition-hover;

				&:hover {
					color: $yellow;
				}
			}

			&:active {
				color: $yellow;
			}
		}

		&:not(:last-of-type) {
			margin-right: 20px;
		}
	}

	@include mq("md") {
		width: 100%;
		max-width: 400px;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 17px;

		&__item {
			a {
				font-size: 13px;
				line-height: 16px;
			}

			&:not(:last-of-type) {
				margin-right: 0;
			}
		}
	}
}

.serial-player {
	display: flex;
	margin: 0 auto 25px auto;
	width: 100%;
	max-width: 800px;

	&-wrap {
		width: 100%;
		padding-top: 50.12%;
		position: relative;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.serial-episodes {
	margin-bottom: 29px;

	@include mq("sm") {
		margin-bottom: 27px;
	}

	&-header {
		display: grid;
		grid-template-columns: 1fr 50px;
		grid-gap: 9px;
		margin-bottom: 16px;

		@include mq("sm") {
			grid-template-columns: 1fr 38px;
			margin-bottom: 20px;
		}
	}
	
	&__seasons {
		position: relative;
		margin-left: -6px;
		margin-right: 0;

		@include mq("sm") {
			margin-left: -1px;
		}

		&:not(.swiper-container-initialized) {
			.swiper-wrapper {
				overflow-x: auto;
			}

			.swiper-button-next {
				display: none;
			}
		}

		.swiper-button-next {
			@include rounded;
			@include flex-center;
			@include transition-active;
			position: absolute;
			top: 0;
			right: 0;
			border: 1px solid $pink;
			color: $pink;
			font-size: 9px;
			width: 50px;
			height: 28px;
			box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.84);
			background: $dark-1;
			cursor: pointer;
			z-index: 1;
			outline: none;

			@include mq("sm") {
				width: 40px;
				height: 20px;
			}

			&.swiper-button-disabled {
				opacity: 0;
				visibility: hidden;
			}

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				@include transition-hover;

				&:hover {
					background: $pink;
					color: $dark-1;
				}
			}
	
			&:active {
				background: $pink;
				color: $dark-1;
			}
		}
	}

	&__season {
		@include flex-center;
		@include rounded(2px);
		@include transition-active;
		width: 50px;
		height: 28px;
		background: $dark-4;
		color: $light-3;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none !important;
		line-height: 1;
		margin: 0 6px;

		@include mq("sm") {
			width: 44px;
			height: 20px;
			font-size: 14px;
			margin: 0 2px;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			@include transition-hover;

			&:hover {
				background: $pink;
				color: $dark-1;
			}
		}

		&:active {
			background: $pink;
			color: $dark-1;
		}
	}

	&__sort {
		@include flex-center;
		@include rounded(2px);
		@include transition-active;
		width: 50px;
		height: 28px;
		background: $dark-4;
		font-size: 10px;
		color: $light-1;
		text-decoration: none !important;
		border: 1px solid transparent;

		@include mq("sm") {
			width: 38px;
			height: 20px;
		}

		i {
			&:first-of-type {
				margin-right: 3px;
			}
		}

		&:not(.reverse) {
			i {
				&[class*="-down"] {
					color: $pink;
				}
			}
		}

		&.reverse {
			i {
				&[class*="-up"] {
					color: $pink;
				}
			}
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			@include transition-hover;

			&:hover {
				border-color: $pink;
			}
		}

		&:active {
			border-color: $pink;
		}
	}

	&-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 22px;
		margin-bottom: 27px;

		@include mq("sm") {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 24px 20px;
			overflow: hidden;
			max-height: 59vw;
			margin-bottom: -5px;
		}
	}
}

.serial-random-episodes {
	&-list {
		margin-top: 29px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 22px;

		@include mq("sm") {
			margin-top: 14px;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 28px 22px;
		}
	}
}

.serial-info {
	margin-top: 42px;

	&-title {
		color: $light-4;
		margin-bottom: 19px;
	}

	&-body {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: 210px 1fr;
		grid-gap: 21px 50px;
		align-items: flex-start;
		position: relative;
		padding-right: 144px;
	}

	&__poster {
		@include rounded;
		@include img-container(146.6%);
		box-shadow: $shadow;
		grid-row: 1 / 3;
		grid-column: 1 / 2;
	}

	&-header {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		margin-top: -2px;
	}

	&__name {
		color: $light-5;
		margin-bottom: 2px;
	}

	&__original-name {
		margin-bottom: 9px;
		color: $light-2;
		font-size: 14px;
	}

	&__props {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0 0 21px 0;
		list-style: none;

		li {
			position: relative;
			color: $light-5;
			font-size: 16px;

			&:not(:last-of-type) {
				margin-right: 24px;

				&::after {
					position: absolute;
					top: 0;
					bottom: 0;
					right: -16px;
					content: "|";
				}
			}
		}
	}

	&__rating {
		display: flex;

		.link {
			margin-left: 25px;
			font-size: 16px;
			font-weight: 500;
			border: none;
			text-decoration: none !important;

			i {
				margin-right: 7px;
				font-size: 18px;
				color: $light-2;
			}

			span {
				color: $light-4;
				border-bottom: 1px solid rgba($color: $light-4, $alpha: 0.5);
			}

			&:hover {
				span {
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__description {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}

	@include mq("md") {
		margin-top: 32px;
	
		&-title {
			margin-bottom: 15px;
		}
	
		&-body {
			grid-template-columns: 85px 1fr;
			grid-gap: 16px 12px;
			padding: 0;
		}

		&__poster {
			grid-row: 1 / 2;
		}

		&__name {
			font-size: 16px;
			margin-bottom: 1px;
		}
	
		&__original-name {
			margin-bottom: 12px;
			font-size: 12px;
		}
	
		&__props {
			margin: 0 0 14px 0;
			display: flex;
			flex-direction: column;
	
			li {
				font-size: 12px;
	
				&:not(:last-of-type) {
					margin-right: 0;
					margin-bottom: 2px;

					&::after {
						content: none;
					}
				}
			}
		}

		&__amount-seasons {
			display: none;
		}
	
		&__rating {
			.link {
				margin-left: 22px;
				font-size: 12px;

				i {
					margin-right: 6px;
					font-size: 14px;
				}
			}
		}

		.serial-rating {
			grid-row: 2 / 3;
			grid-column: 1 / 3;
		}

		&__description {
			grid-row: 3 / 4;
			grid-column: 1 / 3;
		}
	}
}