.random-page {
	.page-title {
		text-align: left;
		margin-bottom: 21px;
	}

	.serial-catalog {
		margin-top: 33px;
	}

	@include mq("md") {
		.page-title {
			margin: 7px;
		}

		.serial-catalog {
			margin-top: 24px;
		}
	}
}