&[data-popover-type="episode"] {
	.info-popover-content {
		padding: 15px 17px 20px 17px;
	}

	.info-popover__header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
	}

	.info-popover__nav {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: $light-2;

		span:last-of-type {
			font-weight: 300;
			margin-left: 5px;
		}
	}

	.info-popover__rating {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: $yellow;

		i {
			font-size: 22px;
			margin-right: 5px;
			display: inline-block;
		}
	}

	.info-popover__name {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: $light-5;
		margin-bottom: 5px;
	}

	.info-popover-description {
		color: $light-2;

		.show-more-wrap {
			padding-bottom: 1px;
		}
	}

	&[data-device-type="desktop"] {
		top: 0;

		.info-popover-content {
			width: 384px;
			border: 2px solid $pink;
		}
	}

	&[data-device-type="mobile"] {
		.info-popover-content {
			padding-top: 0;
			padding-left: $container-padding-mob;
			padding-right: $container-padding-mob;
			margin-top: -18px;
		}

		.info-popover__name {
			margin-bottom: 12px;
		}

		.info-popover-description {
			line-height: 1.2;
		}
	}
}

