.info-popover_opened {
	z-index: 600;
}

.info-popover {
	position: fixed;
	top: 0;
	display: none;
	z-index: 600;
	cursor: default;
	z-index: 1063;
		
	&[data-device-type="mobile"] {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		align-items: center;
		justify-content: center;
	}

	a, button {
		cursor: pointer;
	}

	&[aria-hidden="false"] {
		display: flex;
	}

	&__close {
		display: none;

		[data-device-type="mobile"] & {
			@include flex-center;
			@include rounded;
			@include transition-hover;
			position: absolute;
			font-size: 18px;
			top: 8px;
			right: 8px;
			outline: none;
			color: $light-5;
			border: none;
			width: 40px;
			height: 40px;
			background: rgba($color: $dark-4, $alpha: 0.8);

			i {
				filter: drop-shadow($shadow);
			}

			&:hover {
				color: $pink;
				opacity: 0.8;
			}
		}
	}

	&-wrap {
		background: $dark-2;
		position: relative;
		border-radius: 4px;

		[data-device-type="mobile"] & {
			width: 100%;
			max-width: 500px;
			height: 100%;
			max-height: 650px;

			@include mq("xs") {
				max-height: 100%;
			}
		}
	}

	&-content {
		position: relative;
		@include rounded;
		z-index: 2;

		[data-device-type="mobile"] & {
			width: 100%;
			max-width: 500px;
			height: 100%;
			max-height: 650px;

			@include mq("xs") {
				max-height: 100%;
			}
		}
	}

	&__trailer {
		display: none;
		position: relative;

		[data-device-type="mobile"] & {
			display: block;
			position: relative;
			padding-top: 63.75%;

			&::before {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				pointer-events: none;
				content: "";
				z-index: 1;
				background-image: linear-gradient(to top, $dark-1, rgba($color: $dark-1, $alpha: 0.25) 24.62%, rgba($color: $dark-1, $alpha: 0) 33.33%)
			}

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&-description {
		position: relative;
		font-size: 14px;
		line-height: 20px;

		.show-more-wrap {
			&::after {
				background-image: linear-gradient(to top, $dark-2, rgba($dark-2, 0));
			}
		}

		.show-more__toggle {
			margin-top: 0;
		}

		.simplebar-track.simplebar-vertical {
			right: -5px;
		}
	
		.simplebar-content {
			padding-bottom: 30px !important;
		}
	}

	@import "serial-info";
	@import "episode-info";
}