&[data-popover-type="serial"] {
	.info-popover-content {
		padding: 20px 20px 26px 20px;
	}

	.info-popover__header {
		margin-bottom: 2px;

		& > div {
			@include flex-center;

			& > span {
				position: relative;
				display: inline-block;
				margin-bottom: 9px;
				font-size: 16px;
				line-height: 19px;
				color: $light-5;
	
				&:not(:last-child) {
					margin-right: 36px;
	
					&::before {
						@include rounded;
						position: absolute;
						top: 50%;
						margin-top: -2px;
						right: -20px;
						content: "";
						border: 2px solid $light-5;
						width: 4px;
						height: 4px;
					}
				}
			}
		}

		.service-rating {
			margin-bottom: 9px;
			&__item {
				&:not(:last-of-type) {
					margin-right: 16px;
				}

				i {
					font-size: 14px;
					margin-right: 5px;
				}
			}
		}
	}

	.info-popover__actions {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	.info-popover__name {
		margin-top: 19px;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: $light-5;
		margin-bottom: 0;
	}

	.info-popover__original-name {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: $light-2;
		margin-top: -1px;
	}

	.info-popover-description {
		color: $light-4;
		margin-top: 8px;
	}

	&[data-device-type="desktop"] {
		top: 0;

		.info-popover-content {
			width: 384px;
			border: 2px solid $pink;
		}
	}

	&[data-device-type="mobile"] {
		.info-popover-content {
			padding-top: 0;
			margin-top: -21px;
			padding-left: $container-padding-mob;
			padding-right: $container-padding-mob;
		}

		.info-popover__header {
			& > div > span,
			.service-rating {
				margin-bottom: 5px;
			}

			span {
				font-size: 14px;
			}
		}

		.info-popover__name {
			margin-bottom: 0;
			letter-spacing: -0.5px;
		}

		.info-popover__original-name {
			font-size: 12px;
		}

		.info-popover__actions {
			grid-template-columns: 1fr; 
			margin-top: 8px;

			[data-trailer-id] {
				display: none;
			}
		}

		.info-popover-description {
			line-height: 1.2;
		}
	}
}