mixin catalog-episode(episode)
	.catalog-episode
		a.catalog-episode__info(href="javascript:void(0);" data-info-popover-id=episode.id data-popover-type="episode")
			i.icon-info
		a.catalog-episode__img(href="javascript:void(0);")
			img(src=episode.img alt=episode.name ? episode.name : episode.episode + ' серия')
		if episode.name
			a.catalog-episode__name.caption-1(href="javascript:void(0);")= episode.name
		.catalog-episode__part
			span.caption-2= episode.season + ' сезон '
			span.caption-3= episode.episode + ' серия'
			if episode.rating
				.catalog-episode__rating
					i.icon-star
					span= episode.rating