mixin catalog-serial(serial)
	.catalog-serial
		a.catalog-serial__info(href="javascript:void(0);" data-info-popover-id=serial.id data-popover-type="serial")
			i.icon-info
		a.catalog-serial__img(href="javascript:void(0);")
			img(src=serial.img alt=serial.name ? serial.name : serial.serial + ' серия')
		a.catalog-serial__name.caption-1(href="javascript:void(0);")= serial.name