mixin dropdown(header, extraClass, group='')
	.dropdown(
		class=extraClass
		aria-expanded="false"
		data-group=group
	)
		a.dropdown__header(href="javascript:void(0);")= header
		.dropdown__content
			.dropdown__content-wrap
				block