mixin select(name, label, items, nullValue, wrap = false, extraClass = '')
	.select(
		id=name 
		aria-expanded="false" 
		data-label=label
		class=(
			extraClass + 
			(wrap ? ' form-item' : '')
		)
	)
		select(id='select-' + name name=name)
			option(value='')= nullValue
			each val, i in items
				option(value=i+1)= val