include ../mixins/service-rating.pug

mixin serial-in-search(serial)
	.serial-in-search
		a.serial-in-search__img(href="javascript:void(0);")
			img(src=serial.img alt=serial.name)
		.serial-in-search-content
			.serial-in-search-content__header
				a.serial-in-search__name(href="javascript:void(0);")
					h3= serial.name
				p.serial-in-search__original-name= serial.originalName
			.serial-in-search-content__body
				ul.serial-in-search__props
					li драмма, приключения
					li США
					li выходит
			.serial-in-search-content__footer
				+service-rating()
				a.link(href="javascript:void(0);" data-trailer-id="2155") 
					i.icon-play
					span Трейлер

