include mixins/catalog-serial.pug
- var serials = [
-		{id: 1254, img: './images/hype-serials/1.png', name: 'Сотня'},
-		{id: 1232, img: './images/hype-serials/2.png', name: '13 причин почему'},
-		{id: 1224, img: './images/hype-serials/3.png', name: 'Рик и Морти'},
-		{id: 1248, img: './images/hype-serials/4.png', name: 'Харли Квин'},
-		{id: 5468, img: './images/hype-serials/5.png', name: 'Слепое пятно'},
-		{id: 1357, img: './images/hype-serials/6.png', name: 'Агенты Щ. И. Т.'},
-		{id: 1592, img: './images/hype-serials/7.png', name: 'Защищая Джейкоба'},
-		{id: 2384, img: './images/hype-serials/8.png', name: 'Глейпнир'},
-		{id: 9736, img: './images/hype-serials/9.png', name: 'Во тьме'},
-		{id: 1689, img: './images/hype-serials/10.png', name: 'Личная жизнь'},
-		{id: 8367, img: './images/hype-serials/11.png', name: 'Сквозь снег'},
-		{id: 3452, img: './images/hype-serials/12.png', name: 'Старгёрл'},
-		{id: 8392, img: './images/hype-serials/13.png', name: 'Скам'},
-		{id: 7338, img: './images/hype-serials/14.png', name: 'Кайфтаун'},
-		{id: 5472, img: './images/hype-serials/15.png', name: 'Чем мы заняты в тени'},
-		{id: 2342, img: './images/hype-serials/16.png', name: 'Космические войска'},
-		{id: 2380, img: './images/hype-serials/17.png', name: 'Жирным шрифтом'},
-		{id: 9543, img: './images/hype-serials/18.png', name: 'Обученные'},
-		{id: 3484, img: './images/hype-serials/19.png', name: 'Розуэлл, Нью-Мексико'},
-		{id: 6337, img: './images/hype-serials/20.png', name: 'Бумажный дом'}
-]

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Хайповые сериалы онлайн
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.hype-serials-page
						h1.page-title Хайповые сериалы онлайн

						.catalog.catalog-serials
							each serial in serials
								+catalog-serial(serial)

						.page-description
							h2 Почему стоит смотреть сериалы
							p 
								| Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.
							p 
								| Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
								| Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
							p 
								| Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
								| смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
							p 
								| Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
								| «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
								| нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
								| нас искать информацию о различных занимательных фактах.

			include includes/footer.pug