include mixins/catalog-episode.pug
- var episodes = [
-		[
-			{id: 9374, img: './images/main-catalog-episodes/1.png', name: 'Агенты Щ. И. T.', season: 7, episode: 3},
-			{id: 9343, img: './images/main-catalog-episodes/2.png', name: 'Сотня', season: 7, episode: 4},
-			{id: 9473, img: './images/main-catalog-episodes/3.png', name: 'Чем мы заняты в тени', season: 2, episode: 10},
-			{id: 4379, img: './images/main-catalog-episodes/4.png', name: 'Личная жизнь', season: 1, episode: 9},
-			{id: 9279, img: './images/main-catalog-episodes/5.png', name: 'Личная жизнь', season: 1, episode: 8},
-			{id: 9178, img: './images/main-catalog-episodes/6.png', name: 'Грязный Джон', season: 2, episode: 3},
-		],
-		[
-			{id: 8303, img: './images/main-catalog-episodes/7.png', name: 'Послелний настоящий гангстер', season: 3, episode: 10},
-			{id: 8333, img: './images/main-catalog-episodes/8.png', name: 'Кондор', season: 2, episode: 1},
-			{id: 8803, img: './images/main-catalog-episodes/9.png', name: 'Слово на букву А', season: 3, episode: 6},
-		],
-		[
-			{id: 9997, img: './images/main-catalog-episodes/10.png', name: 'Старгерл', season: 1, episode: 4},
-			{id: 9973, img: './images/main-catalog-episodes/11.png', name: 'Личная жизнь', season: 1, episode: 7},
-			{id: 9793, img: './images/main-catalog-episodes/12.png', name: 'Агенты Щ. И. T.', season: 7, episode: 3},
-			{id: 7993, img: './images/main-catalog-episodes/13.png', name: 'Лучшие в Лос-Анжелесе', season: 7, episode: 3}
-		]
-]

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Главная
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.main-page
						h1.page-title Новые серии онлайн

						.catalog

							ul.catalog-tabs(role="tablist")
								li.catalog-tabs__item(role="tab" aria-selected="true")
									a(href="javascript:void(0)") все
								li.catalog-tabs__item(role="tab" aria-selected="false")
									a(href="javascript:void(0)") сериалы
								li.catalog-tabs__item(role="tab" aria-selected="false")
									a(href="javascript:void(0)") аниме
								li.catalog-tabs__item(role="tab" aria-selected="false")
									a(href="javascript:void(0)") мультсериалы

							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span 14 июня
								.catalog-section-episodes
									each episode in episodes[0]
										+catalog-episode(episode)
							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span 13 июня
									button.catalog-section-nav__btn.next.icon-chevron-right
								.catalog-section-episodes
									each episode in episodes[1]
										+catalog-episode(episode)
							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span 12 июня
									button.catalog-section-nav__btn.next.icon-chevron-right
								.catalog-section-episodes
									each episode in episodes[2]
										+catalog-episode(episode)

						.page-description
							h2 Почему стоит смотреть сериалы
							p 
								| Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.
							p 
								| Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
								| Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
							p 
								| Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
								| смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
							p 
								| Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
								| «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
								| нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
								| нас искать информацию о различных занимательных фактах.

			include includes/footer.pug