include mixins/catalog-serial.pug
- var serials = [
-		[
-			{id: 1352, img: './images/hype-serials/8.png', name: 'Глейпнир'},
-			{id: 4985, img: './images/hype-serials/9.png', name: 'Во тьме'},
-			{id: 4976, img: './images/hype-serials/13.png', name: 'Скам'},
-			{id: 3388, img: './images/hype-serials/11.png', name: 'Сквозь снег'},
-		],
-		[
-			{id: 4956, img: './images/hype-serials/5.png', name: 'Слепое пятно'},
-			{id: 8244, img: './images/hype-serials/14.png', name: 'Кайфтаун'},
-			{id: 6424, img: './images/hype-serials/12.png', name: 'Старгёрл'},
-			{id: 6796, img: './images/hype-serials/1.png', name: 'Сотня'},
-			{id: 4444, img: './images/hype-serials/4.png', name: 'Харли Квин'},
-			{id: 3452, img: './images/hype-serials/7.png', name: 'Защищая Джейкоба'},
-			{id: 4621, img: './images/hype-serials/16.png', name: 'Космические войска'},
-			{id: 3456, img: './images/hype-serials/6.png', name: 'Агенты Щ. И. Т.'},
-		],
-		[
-			{id: 8222, img: './images/hype-serials/3.png', name: 'Рик и Морти'},
-			{id: 7264, img: './images/hype-serials/19.png', name: 'Розуэлл, Нью-Мексико'},
-			{id: 6554, img: './images/hype-serials/10.png', name: 'Личная жизнь'},
-			{id: 2622, img: './images/hype-serials/15.png', name: 'Чем мы заняты в тени'},
-			{id: 9787, img: './images/hype-serials/17.png', name: 'Жирным шрифтом'},
-		]
-]

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Новые сериалы онлайн 
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.new-serials-page
						h1.page-title Новые сериалы онлайн

						.catalog
							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span Июнь
								.catalog-section-serials
									each serial in serials[0]
										+catalog-serial(serial)
							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span Май
									button.catalog-section-nav__btn.next.icon-chevron-right
								.catalog-section-serials
									each serial in serials[1]
										+catalog-serial(serial)
							.catalog-section
								.catalog-section-nav
									span Апрель
									button.catalog-section-nav__btn.next.icon-chevron-right
								.catalog-section-serials
									each serial in serials[2]
										+catalog-serial(serial)

						.page-description
							h2 Почему стоит смотреть сериалы
							p 
								| Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.
							p 
								| Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
								| Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
							p 
								| Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
								| смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
							p 
								| Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
								| «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
								| нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
								| нас искать информацию о различных занимательных фактах.

			include includes/footer.pug