include mixins/serial-in-search.pug
include mixins/breadcrumbs.pug
- var serials = [
-		{img: './images/hype-serials/11.png', name: 'Сквозь снег', originalName: 'The 100, 2014–2020'},
-		{img: './images/hype-serials/6.png', name: 'Агенты Щ. И. Т.', originalName: 'The 100, 2014–2020'},
-		{img: './images/hype-serials/5.png', name: 'Слепое пятно', originalName: 'The 100, 2014–2019'},
-		{img: './images/hype-serials/9.png', name: 'Теория большого взрыва', originalName: 'The 100, 2014–...'},
- ]

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Результаты рандома
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.random-page
						h1.page-title Результаты поиска рандомного сериала

						button.btn.btn_outline-gradient.full-width
							span 
								i.icon-refresh
								| Случайный сериал

						.serial-catalog
							each serial in serials
								+serial-in-search(serial)

						.page-description
							h2 Почему стоит смотреть сериалы
							p 
								| Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.
							p 
								| Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
								| Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
							p 
								| Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
								| смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
							p 
								| Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
								| «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
								| нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
								| нас искать информацию о различных занимательных фактах.

				+breadcrumbs(['Результат рандома'])

			include includes/footer.pug