include mixins/serial-in-search.pug
include mixins/catalog-episode.pug
include mixins/breadcrumbs.pug

- var serials = [
-		{img: './images/hype-serials/11.png', name: 'Теория лжи', originalName: 'Lie to Me, 2009–2011'},
-		{img: './images/hype-serials/6.png', name: 'Теория большого взрыва', originalName: 'The Bing Bang Theory, 2007–2019'},
- ];
- var episodes = [
-		{id: 8465, img: './images/serial-in-search/1.png', season: 12, episode: 24, rating: 7.6},
-		{id: 3865, img: './images/serial-in-search/2.png', season: 12, episode: 23, rating: 7.6},
-		{id: 3680, img: './images/serial-in-search/3.png', season: 12, episode: 22, rating: 7.6},
-		{id: 9688, img: './images/serial-in-search/4.png', season: 12, episode: 21, rating: 7.6},
-		{id: 2724, img: './images/serial-in-search/5.png', season: 12, episode: 20, rating: 7.6},
-		{id: 5454, img: './images/serial-in-search/6.png', season: 12, episode: 19, rating: 7.6},
-		{id: 2756, img: './images/serial-in-search/7.png', season: 12, episode: 18, rating: 7.6},
-		{id: 1456, img: './images/serial-in-search/8.png', season: 12, episode: 17, rating: 7.6},
-		{id: 8533, img: './images/serial-in-search/9.png', season: 12, episode: 16, rating: 7.6},
-		{id: 9468, img: './images/serial-in-search/10.png', season: 12, episode: 15, rating: 7.6},
-		{id: 3588, img: './images/serial-in-search/11.png', season: 12, episode: 14, rating: 7.6},
-		{id: 2644, img: './images/serial-in-search/12.png', season: 12, episode: 13, rating: 7.6}
-	];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Результаты поиска
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.search-page
						h1.page-title Результаты поиска: «теори»

						form.search-form
							.search-form__field
								buttom.search-form__btn-clear(type="button")
									i.icon-close
								input.search-form__input(type="text" value="теори")
								buttom.search-form__btn-submit
									i.icon-search
									| Найти сериал

						.serial-catalog
							each serial in serials
								+serial-in-search(serial)

						hr

						.catalog-episodes
							.catalog-episodes-list
								each episode in episodes
									+catalog-episode(episode)
							button.btn.btn_yellow.full-width
								span 
									| Показать ещё
									i.icon-duble-chevron-down

						.page-description
							h2 Почему стоит смотреть сериалы
							p 
								| Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.
							p 
								| Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
								| Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
							p 
								| Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
								| смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
							p 
								| Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
								| «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
								| нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
								| нас искать информацию о различных занимательных фактах.

				+breadcrumbs(['Результаты поиска'])

			include includes/footer.pug