include mixins/catalog-episode.pug
include mixins/service-rating.pug
include mixins/breadcrumbs.pug
- var randomEpisodes = [
-		{id: 6341, img: './images/serial-episodes/22.png', season: 2, episode: 2, rating: 8.9},
-		{id: 6312, img: './images/serial-episodes/42.png', season: 4, episode: 2, rating: 8.4},
-		{id: 6142, img: './images/serial-episodes/28.png', season: 2, episode: 8, rating: 7.7},
-		{id: 1342, img: './images/serial-episodes/47.png', season: 4, episode: 7, rating: 8.2},
-	];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Страница сериала
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.serial-page
						h1.page-title Рик и Морти смотреть онлайн

						.serial-nav
							.serial-nav__item
								a(href="#all-episodes") 1 серия
							.serial-nav__item
								a(href="#all-episodes") Все серии
							.serial-nav__item
								a(href="#best-episodes") Лучшие серии
							.serial-nav__item
								a(href="#about-serial") О сериале

						.serial-player
							.serial-player-wrap
								iframe(src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0")

						.tabs.serial-tabs(role="tablist")
							.tabs-list.col_2
								.tabs-list__border
								a.tabs-list__item(href="#all-episodes" role="tab" aria-selected="true") 
									span Все серии
								a.tabs-list__item(href="#best-episodes" role="tab" aria-selected="false") 
									span Лучшие серии
										sup
											i.icon-imdb
							.tabs-content
								.tabs-content-list
									#all-episodes.tabs-content-list__item(aria-hidden="false")
										include includes/tab-all-episodes.pug
									#best-episodes.tabs-content-list__item(aria-hidden="true")
										include includes/tab-best-episodes.pug

						.serial-random-episodes
							button.btn.btn_outline-gradient.full-width.serial-random-episodes__btn
								span 
									// по умолчанию этой иконки нет, добавляется поле нажатия
									i.icon-refresh
									| Случайная серия
							// по умолчанию эпизодов нет
							.serial-random-episodes-list
								each episode in randomEpisodes
									+catalog-episode(episode)

						#about-serial.serial-info
							.serial-info-title
								h2.serial-info__title Подробнее о сериале «Рик и Морти»
							.serial-info-body
								.serial-info__poster
									img(src="./images/serial-poster.png", alt="")

								.serial-info-header
									h3.serial-info__name Рик и Морти
									p.serial-info__original-name Rick and Morty, 2013–...
									ul.serial-info__props
										li мультфильм, комедия
										li Великобритания
										li выходит
										li.serial-info__amount-seasons 5 сезонов
									.serial-info__rating
										+service-rating()
										a.link(href="javascript:void(0);" data-trailer-id="2155") 
											i.icon-play
											span Трейлер

								include includes/serial-rating.pug

								.serial-info__description.show-more
									.show-more-wrap(aria-expanded="false" data-height="({desktop:147,mobile:350})")
										p 
											| В центре сюжета — школьник по имени Морти и его дедушка Рик. Морти — самый обычный мальчик, 
											| который ничем не отличается от своих сверстников. А вот его дедуля занимается необычными 
											| научными исследованиями и зачастую полностью неадекватен. Он может в любое время дня и ночи 
											| схватить внука и отправиться вместе с ним в межпространственные приключения с помощью 
											| построенной из разного хлама летающей тарелки, которая способна перемещаться сквозь временной 
											| тоннель. Каждый раз эта парочка оказывается в самых неожиданных местах и самых нелепых ситуациях.
									a.show-more__toggle(href="javascript:void(0);")
										span Посмотреть все описание
										i.icon-duble-chevron-down

						.comments
							img(src="./images/comments.png", alt="")

				+breadcrumbs(['Рик и Морти'])

			include includes/footer.pug