@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/typography';
@import 'base/animate';
@import 'base/icons';
@import 'base/grid';

@import '../../node_modules/sweetalert2/src/sweetalert2';

@import 'components/simplebar';
@import 'components/breadcrumbs';
@import 'components/swiper';
@import 'components/buttons';
@import 'components/select';
@import 'components/tabs';
@import 'components/tooltip';
@import 'components/catalog';
@import 'components/service-rating';
@import 'components/serial-rating';
@import 'components/show-more';
@import 'components/catalog-episode';
@import 'components/catalog-serial';
@import 'components/serial-in-search';
@import 'components/header';
@import 'components/header-search-results';
@import 'components/footer';
@import 'components/modal';
@import 'components/pagination';
@import 'components/dropdown';
@import 'components/info-popover/info-popover';

.wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.wrap-content {
		flex-direction: column;
		display: flex;
		flex-grow: 1;
	}

	main {
		flex-direction: column;
		display: flex;
		flex-grow: 1;
		margin-top: 152px;
		padding-bottom: 54px;
		background: $dark-1;

		@include mq("lg") {
			margin-top: 13px;
			padding-bottom: 45px;
		}
	}
}

.page-title {
	text-align: center;
	margin-bottom: 11px;
}

.page-description {
	margin-top: 73px;
	max-width: 740px;

	@include mq("md") {
		margin-top: 36px;

		h2 {
			letter-spacing: 0.6px;
		}
	}
}

@import 'pages/index';
@import 'pages/hype-serials';
@import 'pages/new-serials';
@import 'pages/filter';
@import 'pages/random';
@import 'pages/search';
@import 'pages/serial';